# Remove unnecessary files.
Cargo.lock
# The cargo.lock file auto made through carogo build command.
# Ignore simple documentation.
packaging-guide.md

# Ignore the .idea.
.idea

# Ignore not important files inside the target file.
# Ignore all of the target files no need to have the debian package there.
target