# Remove unnecessary files.
# Cargo.lock

# The cargo.lock file auto made through carogo build command.
# Ignore simple documentation.

# //

# Ignore the .idea , .zed , .code . Files that the IDEs/Editors create for parsing and debbuging.
.idea
.zed
.code
.vscode

# Ignore not important files inside the target file.
# Ignore all of the target files no need to have the debian package there.
target

# Ignore the changes folder it is intendent for changes to come and new ideas.
CHANGES.md

# Ignore images
images
